AWS_PROFILE=default
AWS_REGION=eu-west-2
PROJECT_ENV=dev
PROJECT_NAME=Real-Time Energy Forecasting and Anomaly Detection
PROJECT_SLUG=energy-forecast
RESOURCE_PREFIX=energyops
OWNER=portfolio
COST_CENTRE=mlops-lab

