aws_region                       = "us-east-1"
deployment_name                  = "energyops-dev-creative-antelope"
kms_key_arn                      = "arn:aws:kms:us-east-1:123456789012:key/example"
sagemaker_role_arn               = "arn:aws:iam::123456789012:role/iam-sagemaker-energyops-dev-creative-antelope"
forecast_model_package_group_name = "energyops-dev-creative-antelope-forecast-registry"
